<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Đẹp Trai</button>
        </div>
        <div class="col-lg-9">
            <h1>{{colection.name}}</h1>
        </div>
    </div>
</div>